name: Build

on:
  push:
    branches:
      - "main"
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - run: git config --global core.autocrlf true
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        working-directory: ./src
        run: |
          dotnet restore

      - name: Build
        working-directory: ./src
        run: |
          dotnet build ./CommonFramework.slnx --no-restore

      - name: Unit tests
        run: |
          dotnet test src/CommonFramework.Tests --no-build --verbosity normal

      - name: Di unit tests
        run: |
          dotnet test src/CommonFramework.DependencyInjection.Tests --no-build --verbosity normal

      - name: IdentitySource unit tests
        run: |
          dotnet test src/CommonFramework.IdentitySource.Tests --no-build --verbosity normal

      - name: VisualIdentitySource unit tests
        run: |
          dotnet test src/CommonFramework.VisualIdentitySource.Tests --no-build --verbosity normal